@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/*
0-600px: Phone
600-900px: Tablet Portrait Mode
900-1200px: Tablet Landscape Mode
1200-1800px: Normal styles
1800px+: Large TVs ETC
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 1068px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

ul {
  list-style: none;
}

::-moz-selection {
  background-color: #0e8044;
  color: #fff;
}

::selection {
  background-color: #0e8044;
  color: #fff;
}

p.status-in-progress {
  color: orangered;
}

p.status-waiting {
  color: red;
}

p.status-ready {
  color: steelblue;
}

p.status-complete {
  color: green;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes headerAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes headerAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes headerBtnAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20rem);
            transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes headerBtnAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20rem);
            transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes navDropDown {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes navDropDown {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #a5a5af;
}

h4 {
  font-size: 1.2rem;
  text-align: center;
}

.heading-primary {
  cursor: default;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.heading-primary--main {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 1.5rem;
  margin-bottom: 5rem;
  -webkit-animation: scaleIn 2s;
          animation: scaleIn 2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.heading-primary--sub {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1.1rem;
  -webkit-animation: moveFromBottom 1.5s forwards;
          animation: moveFromBottom 1.5s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  text-transform: lowercase;
  opacity: 0;
}

.logo {
  font-weight: 600;
  color: #333;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.logo--nine {
  color: #0e8044;
  font-size: 5rem;
  font-weight: 700;
  display: inline-block;
  position: relative;
  top: 0.9rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: default;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#b5e582), to(#015249));
  background-image: linear-gradient(to right, #b5e582, #015249);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 500px) {
  .heading-secondary {
    font-size: 3.5rem !important;
  }
}
.heading-secondary--white {
  font-size: 3.5rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  width: auto;
  cursor: default;
  color: #fff;
  padding: 1rem 4rem;
  letter-spacing: 2.2px;
  border-radius: 0.2rem;
  background-color: #0e8044;
}
@media only screen and (max-width: 768px) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  cursor: default;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1068px) {
  .heading-tertiary {
    font-size: 2.3rem;
  }
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.faq-heading--sub {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
}
@media only screen and (max-width: 500px) {
  .faq-heading--sub {
    letter-spacing: 0.5rem;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-xl {
  margin-bottom: 12rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 768px) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 768px) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-xl {
  margin-top: 10rem !important;
}

.main {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.blog-main {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.blog-title {
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  color: #333;
}
.blog-title--sub {
  text-align: center;
  font-weight: 500;
  margin-bottom: -3rem;
  color: #555;
}
.blog-recent-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-preview-card {
  border: 1px solid #aaa;
  width: 20rem;
  height: 23rem;
  border-radius: 1rem;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}
.blog-preview-card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.blog-preview-card:hover .blog-preview-card--paw {
  top: -1rem;
  right: 1rem;
  -webkit-transform: scale(2.5) rotate(45deg);
          transform: scale(2.5) rotate(45deg);
  opacity: 0.4;
}
.blog-preview-card:hover .blog-preview-card--title {
  top: 3rem;
  font-weight: 800;
}
.blog-preview-card:hover .blog-preview-card--author {
  bottom: 12rem;
  opacity: 1;
}
.blog-preview-card:hover .blog-preview-card--category {
  bottom: 9rem;
  opacity: 1;
}
.blog-preview-card:hover .card-btn {
  bottom: 2rem;
  opacity: 1;
}
.blog-preview-card--content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}
.blog-preview-card--paw {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  font-size: 5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgb(63, 174, 76);
}
.blog-preview-card--title {
  color: #555;
  text-transform: uppercase;
  position: absolute;
  top: 12rem;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 1;
  font-size: 1.4rem;
  padding: 0 0.6rem;
}
.blog-preview-card--author {
  font-weight: 500;
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: -5rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.blog-preview-card--author strong {
  color: #777;
}
.blog-preview-card--category {
  font-weight: 500;
  position: absolute;
  width: 100%;
  bottom: -10rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  opacity: 0;
}
.blog-preview-card--category strong {
  color: #777;
}
.blog-preview-card--btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: rgb(63, 174, 76);
  color: #333;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blog-preview-card--btn:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid rgb(63, 174, 76);
  -webkit-transform: scale(1.05) translateY(-0.3rem);
          transform: scale(1.05) translateY(-0.3rem);
  -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
}
.blog-preview-card--btn:active {
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
  -webkit-box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.5);
}

.card-btn {
  position: absolute;
  bottom: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.recent-posts-container {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);
  border: 1px solid #333;
  padding: 2rem 5rem;
}

.blog-buttons {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.report-desc {
  margin: 20px 0;
  font-size: 17px;
  background-color: #f4f4f4;
  border: 1px #ccc solid;
  padding: 10px 15px;
  border-radius: 5px;
}

.note {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.note-head {
  background: #f4f4f4;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.note-date {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 14px;
}

.delete-note {
  color: red;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.report-created {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 50px;
}

.report-number {
  margin-bottom: 30px;
}

.report-number h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.report-number p {
  font-size: 1.3rem;
}

.report,
.report-headings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.report-headings {
  font-weight: 700;
}

.status {
  background-color: #333;
  color: #fff;
  width: 100px;
  padding: 0 20px;
  justify-self: center;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.status-open {
  background-color: green;
  color: #fff;
  border-radius: 10px;
}

.status-closed {
  background-color: darkred;
  color: #fff;
  border-radius: 10px;
}

.report-page {
  position: relative;
  text-align: left;
}

.report-page h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.report-page .btn {
  margin-bottom: 30px;
}

.report-page .btn-block {
  width: 100%;
  margin-top: 30px;
}

.wrapper {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: darkred;
  border: none;
}

.btn-back {
  width: 150px;
  margin-bottom: 20px;
}

.btn:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-close {
  background: none;
  border: none;
  color: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-blog {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  width: 15rem;
  margin: auto 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}
.btn-blog:hover {
  background: #fff;
  color: #000;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  outline: 2px solid #333;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  -webkit-animation: spin 1.2s linear infinite;
          animation: spin 1.2s linear infinite;
}

.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  width: 100%;
  height: auto;
}
.header-nav__left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__left ul li {
  padding: 0 1.5rem;
  letter-spacing: 0.12rem;
  font-weight: 500;
}
.header-nav__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__right ul li {
  padding: 0 1rem;
}

.footer {
  background-color: #333;
  padding: 2rem 0;
  font-size: 1.3rem;
  color: #f7f7f7;
  text-align: center;
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  letter-spacing: 0.2rem;
}