.breed-info {
    &--container {
        padding: 8rem 0 8rem;
        
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

        &--title {
            &-main {
                text-align: center;
                color: #333;
                text-transform: uppercase;
                margin-bottom: 1rem;
                font-size: 4rem;
            }
        
            &-sub {
                text-transform: none;
                text-align: center;
                color: #666;
                margin-bottom: 3rem;
            }
        }

    &--search {
        padding: 3rem;
    }

    &--results {
        &-card {
            width: 30rem;
            height: 20rem;
            margin: 1rem;
            position: relative;
            -moz-perspective: 100rem;
            -webkit-perspective: 100rem;
            perspective: 100rem;
        }

        // Card Content
        &-back {
            width: 100%;
            height: 100%;
            padding: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: .8rem;
            border: 1px solid #333;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            transition: 0.5s;
            background-color: #ded;
        }

        &-name {
            text-transform: uppercase;
            color: #333;
            letter-spacing: normal;
            text-align: center;
            line-height: normal;
            margin-bottom: 1rem;
        }

        &-item {
            text-transform: capitalize;
            font-size: 1rem;        
        }

        // Card Image
        &-front {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #333;
            backface-visibility: hidden;
            transition: 0.5s;
            border-radius: .8rem;

            &-name {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #eee;
                width: 100%;
                text-align: center;

                h3 {
                    text-shadow: 
                        #000 0px 0px 2px,
                        #000 0px 0px 2px,
                        #000 0px 0px 2px,
                        #000 0px 0px 2px,
                        #000 0px 0px 2px,
                        #000 0px 0px 2px;         
                }
            }

            &-img {

                position: absolute;
                display: flex;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
    
                img {
                    display: block;
                    object-fit: cover;
                    object-position: top;
                    width: 100%;
                    height: 20rem;
                    height: auto;
                    border-radius: .8rem;
                }
            }
        }
    }
}

.breed-info--results-card:hover .breed-info--results-front {
    transform: rotateY(180deg);
}

.breed-info--results-card:hover .breed-info--results-back {
    transform: rotateY(0);
}