.breed-info {

    &--container {

        padding: 10rem 0 8rem;
        
        ul {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

        &--title {
        
            &-main {
                text-align: center;
                color: #333;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
        
            &-sub {
                text-transform: none;
                text-align: center;
                color: #666;
                margin-bottom: 3rem;
            }
        }

    &--search {

        padding: 3rem;

        &-form {

        }

    }

    &--results {

        
        &-card {
            width: 30rem;
            border: 1px solid blue;
            margin: 1rem;
            
        }

        &-content {
            width: 100%;
            border: solid 1px red;

        }

        &-item {

        }

        &-imgBx {

        }

        &-img {
            // width: 50%;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

}