.login {

    &-container {
    margin-top: 12rem;

    form {

        .form-group {
            width: 60%;
            margin: 0 auto;
        }
    }
    }

    &-heading {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5rem;
        color: #333;

        h1 {
            margin-bottom: 3rem;
        }
    }
}

