.register {

    &-container {
        padding-top: 12rem;
        height: 100vh;

        @include respond(phone) {
            height: 100%;
        }

        form {
                    border: 2px solid $color-primary;
                        padding: 40px;
                        background-color: $color-primary-light;
                        border-radius: 20px;
                        margin-bottom: 60px;

            .form-group {
                width: 60%;
                margin: 0 auto;
                            @include respond(phone) {
                                    width: 100%;
                                }
            }
        }
    }

    &-heading {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5rem;
        color: #333;

        h1 {
            margin-bottom: 2rem;
        }
    }
}