.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  transition: all 0.7s ease;
  z-index: 10;
  background-color: rgb(44, 53, 49, 0.6);
    // border-bottom: 3px solid rgb(44, 53, 49);

    ul {
      list-style: none;
    }

          &:hover {
              background-color: rgb(44, 53, 49, 1);
            }

  &:hover &-nav .logo {
    color: rgb(209, 232, 226);
  }



  &.scrolled {
    background-color: rgb(44, 53, 49, 0.85);

      &:hover {
          background-color: rgb(44, 53, 49, 1);
        }
  }

  &.scrolled &-nav {
    border-bottom: none;
  }

&.scrolled .nav-link:after {
  transform-origin: center;
}
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    transition: all 0.2s;

 .logo {
  font-size: 1.8rem;
  margin-right: 25px;
  color: rgb(209, 232, 226, 0.5) !important;

  &:hover {
    color: rgb(209, 232, 226) !important;
  }


  span {
    font-size: 2rem;
    top: 6px;
  }
 }



    &__left {
      height: 100%;
      width: 80%;
      display: flex;


      ul {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;


        @include respond(phone) {
            display: none;
            width: 20%;
          }

        li {
          margin: 0 1.5rem;
          font-size: 1.6rem;
          letter-spacing: .18rem;
          font-weight: 500;



           a {
              color: rgb(209, 232, 226);
           }
          
        }
      }
    }

    &__right {
      width: 20%;

              @include respond(phone) {
                  width: 80%;
                }
      ul {
        display: flex;
        justify-content: flex-end;

        li {
          padding: 0 1rem;
        }
      }
    }
  }
}

.nav-link {
  // text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease-in-out;


  

  &:hover:after,
  &:focus:after
{
      transform: scale(1);
      transition: all 0.2s ease-in-out;
  }




}

.nav-link:after
{
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  transform: scale(0);
    background-color: #ddd;
      transition: all 0.2s ease-in-out;
}

        .nav-link:after {
          transform: scale(0);
          transform-origin: center;
        }
    

.nav-link-side {
  position: relative;
  font-weight: 600;
  // padding-left: 10px;
  overflow: hidden;
  font-size: 2rem;
  // margin: 5px 0;

  &:hover:after,
  &:focus:after {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-link-side:after{
  content: '';
  position: absolute;
height: 20px;
width: 100%;
opacity: 0;
z-index: -1;
  transform: translateX(100%);
  background-color: #333;
  transition: all 0.1s ease-in-out;
}

