.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 10;

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 100%;
      border-bottom: 2px solid #ddd;


    &__left {
      height: 100%;
      width: 70%;
      ul {
        height: auto;
        display: flex;

        @include respond(phone) {
            display: none;
            width: 20%;
          }

        li {
          margin: 0 1.8rem;
          letter-spacing: .12rem;
          font-weight: 500;
        }
      }
    }

    &__right {
      width: 30%;

              @include respond(phone) {
                  width: 80%;
                }
      ul {
        display: flex;
        justify-content: flex-end;

        li {
          padding: 0 1rem;
        }
      }
    }
  }
}

.nav-link {
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease-in-out;

  &:hover:after,
  &:hover:before {
      transform: scale(1);
      transition: all 0.3s ease-in-out;
  }

    &:hover:after {
      transform-origin: right;
    }

                &:hover:before {
                  transform-origin: left;
                }
}

.nav-link:after,
.nav-link:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  transform: scale(0);
  background-color: $color-primary;
      transition: all 0.4s ease-in-out;
}

        .nav-link:after {
          transform: scale(0);
          transform-origin: right;
        }
    
        .nav-link:before {
          transform-origin: left;
        }

.nav-link-side {
  position: relative;
  font-weight: 600;
  // padding-left: 10px;
  overflow: hidden;
  font-size: 2rem;
  // margin: 5px 0;

  &:hover:after {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-link-side:after{
  content: '';
  position: absolute;
height: 20px;
width: 100%;
opacity: 0;
z-index: -1;
  transform: translateX(100%);
  background-color: $color-primary-light;
  transition: all 0.4s ease-in-out;
}

