.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

      @include respond(tab-port) {
          font-size: 1.5rem;
          padding: 5px 10px;
        }
}

.btn svg {
  margin-right: 8px;

    @include respond(tab-port) {
        font-size: 2rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;                   
      }
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-reports {
            
        @include respond(tab-port) {                 
            font-size: 1.8rem;
            padding: 10px 15px;
}

        @include respond(phone) {                                                             
        font-size: 1.8rem;
        padding: 10px 25px;
        min-width: 95vw;
  }
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-view-report {
    &:hover {
        outline: 1px solid rgb(63, 174, 76);
      }

  @include respond(phone) {
    padding: 5px;
  }
}

.btn-danger {
  background: darkred;
  border: none;
  width: 50%;
}

.btn-back {
  width: 150px;
  margin-bottom: 20px;
  margin-left: 5px;

  &:hover {
    outline: 1px solid rgb(63, 174, 76);
  }
}

.btn:hover {
  transform: scale(0.98);
}

.btn-close {
  background: none;
  border: none;
  color: rgb(75, 7, 7);
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
  transform: scale(0.98);
}

.btn-blog {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    width: 20rem;
    margin: auto 5px;
    transition: 0.3s;
    text-transform: uppercase;

    @include respond(tab-port) {
        font-size: 1.8rem;
        padding: 8px 15px;
      }

    @include respond(phone) {
        font-size: 1.2rem;
        padding: 8px 12px;
      }

      &-new-post:hover {
        color: #333;
        background-color: #fff;
        border: 2px solid rgb(63, 174, 76);
        transform: scale(1.05) translateY(-.3rem);
        box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
        font-weight: 600;
      }

    span {
      color: rgb(63, 174, 76);
    }

    &:hover {
        background: #fff;
        color: #000;
        transform: scale(1.02);
        outline: 2px solid #333;
    }
}

.btn-note {
  margin: 1rem 0;
}