// Colors

    $color-primary: rgb(17, 100, 102);
    $color-primary-light: rgb(209, 232, 226);
    $color-primary-dark: rgb(44, 53, 49);
    
    $color-secondary-light: rgb(255, 203, 154);
    $color-secondary-dark: rgb(217, 176, 140);
    
    $color-tertiary-light: #77c9d4;
    $color-tertiary-dark: #3e6d74;
    
    $color-grey-dark: #a5a5af;
    $color-grey-dark-2: #555;
    $color-grey-very-dark: #333;
    $color-grey-light-1: #f7f7f7;
    
    $color-light: #fff;
    
    // Contact Form
    $error-color: #c41805;
    $success-color: #1ef678;
    
    // Font Sizes
    $default-font-size: 1.6rem;
    
    // Shadows
    $box-shadow-1: rgba(0, 0, 0, 0.15);
    $box-shadow-btn-hover: rgba(0, 0, 0, 0.2);
    $box-shadow-btn-active: rgba(0, 0, 0, 0.1);
