.blog {

    &-main {
    // margin-top: 100rem;
    // margin-top: 8rem;
    // background-color: red;
    // width: 100%;
    width: 50%;

    @include centering-hack;
    }

    &-title {
        margin-bottom: 3rem;
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;
        color: #333;

        &--sub {
            text-align: center;
            font-weight: 500;
        }
    }

    &-recent-posts {
        border: 1px solid purple;
        display: flex;
        width: 100%;
        margin: 5rem 0;
        justify-content: space-between;
    }  
    
    &-preview-card {
        border: 1px solid red;
        width: 25rem;
        height: 30rem;

        &--title {

        }

        &--author {

        }

        &--category {

        }
    }

}