.new-blog-post {

    &--container {
        padding: 8rem 0 6rem;
    }

    &--form {

    }

    &--title {
        
&-main {
    // margin-bottom: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    color: #333;
    margin-bottom: 0;
}

&-sub {
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #555;
    font-size: 1.5rem;
}
    }
}