*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(laptop) {
    font-size: 60%;
  }

  @include respond(tab-land) {
    font-size: 55%;
  }

  @include respond(tab-port) {
    font-size: 65%;
  }
}

body {
    font-family: "Poppins", sans-serif;  font-size: $default-font-size;

  height: 100vh;

  overflow-x: hidden;
}



a {
  text-decoration: none;
  color: $color-secondary-dark;
  display: block;
}



p {

  @include respond(tab-port) {
    // font-size: 1.8rem;
  }
}

::selection {
  background-color: $color-primary;
  color: #fff;
}

p.status-in-progress {
  color: orangered;
}

p.status-waiting {
  color: red;
}

p.status-ready {
  color: steelblue;
}

p.status-complete {
  color: green;
}