*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(laptop) {
    font-size: 60%;
  }

  @include respond(tab-land) {
    font-size: 55%;
  }

  @include respond(tab-port) {
    font-size: 55%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
  letter-spacing: .1rem;
  height: 100vh;

  overflow-x: hidden;
}

p {
    font-family: "Poppins", sans-serif;
}


a {
  text-decoration: none;
  color: #000;
  display: block;
}



p {

  @include respond(tab-port) {
    font-size: 1.8rem;
  }
}

::selection {
  background-color: $color-primary;
  color: #fff;
}

p.status-in-progress {
  color: orangered;
}

p.status-waiting {
  color: red;
}

p.status-ready {
  color: steelblue;
}

p.status-complete {
  color: green;
}