.current-reports {

    
    &-container {
        padding: 10rem 0;
    }

    &-heading {
        margin: 0 auto;
        margin-top: -3rem;
        text-align: center;
        margin-bottom: 2rem;
        color: #000;
        font-size: 3rem;

        .logo--nine {
            font-size: 4rem;
        }
    }
}

.report {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: #f4f4f4;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    
    &-created {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 50px;
    }
    
    &-number {
        margin-bottom: 30px;
    }
    
    &-number h2 {
        font-size: 2.3rem;
        margin-bottom: 10px;
    }

    &-number p {
        font-size: 1.3rem;
    }

    &-headings {
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: #f4f4f4;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    }
}

.status {
    background-color: #333;
    color: #fff;
    width: 100px;
    padding: 0 20px;
    justify-self: center;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;

    @include respond(phone) {
        width: 60px;
        font-size: 1.5rem;
        padding: 0 10px;
    }

    &-open {
        background-color: green;
        color: #fff;
        border-radius: 10px;
    }

    &-closed {
        background-color: darkred;
        color: #fff;
        border-radius: 10px;
    }
}


