.report {
    &-container {
        padding: 9rem 5rem 10rem;
        // padding-top: 9rem;
        width: 100%;

        .btn-block {
            // width: 50%;
            margin: 0 auto;
            margin-top: 30px;
        }
    
        &-header {
            padding: 2rem 0;
        }

    }

    &-heading {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5rem;
        color: #333;

        .logo--nine {
            font-size: 3rem;
        }

        h1 {
            margin-bottom: 3rem;
        }
    }
}

.report-desc {
    margin: 3rem 2rem;
    font-size: 17px;
    background-color: #f4f4f4;
    border: 1px #ccc solid;
    padding: 1.5rem;
    border-radius: 5px;
}
