.main-reports {
    &-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 12rem;


            .btn-block {
                width: 50%;
                margin: 0 auto;
                margin-top: 30px;
            }

        form {

            .form-group {
                width: 60%;
                margin: 0 auto;
            }
        }
    }



    &-heading {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5rem;
        color: #333;

        .logo--nine {
            font-size: 3rem;
        }

        h1 {
            margin-bottom: 3rem;
        }
    }

    &-buttons {
        width: 95vw;
    }
}


.report-page {
    position: relative;
    text-align: left;
}

.report-page h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.report-page .btn {
    margin-bottom: 30px;
}

